/* CSS Generales */
*{
	margin: 0;
	padding: 0; 
	font-family: 'Rajdhani', sans-serif;
	
	 
}

/* CSS header */
/* PENDIENTE */
header {
	/* background-image: url("./asset/aviador-FAP-fondo1.png"); */
	background-attachment: fixed;
	background-color: black;
	background-size: cover;
	/* background-blend-mode: lighten, normal; */
	background-blend-mode: screen;
}

.header-flex {
	display: flex;
	flex-direction: row;
	background: rgb(0, 0, 0) ; 
}

.column-flex {
	display: flex;
	flex-direction: column;
}

.cols-3 {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cols-6 {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.link-fb {
	color: white;
	/* border: 1px solid #438AFE; */
	text-decoration: none;
	align-content: center;
}

.style-box {
	border: 1px solid #0280FE;
	padding: 0 0.9em -3em 0.9em;
	border-radius: 3px
	
}
.icon{
	margin: 1em 0 0 0;
}

/* section 1 */
/* PENDIENTE */

.container-background {
	/* background-image: url("./asset/aviador-FAP.png"); */
	background-attachment: fixed;
	/* background-color: black; */
	background-size: cover;
	/* background-blend-mode: lighten, normal; */
	background-blend-mode: screen;
	max-width: 1005px;
	margin: 0 auto;
	padding: 2em 1em;
	justify-content: space-around;
}
.padding{
	padding: 0 9em;
}
.une-line-column{
	flex-direction: column;
	
}
.title{
	text-align: center;
	background-color: #E8E8E8;
	color: #1E499F;
	padding: 0.8em 0;
}

h1, h2, h3{
	color: white;
}
.h2{
	background-color: #1E499F;	


	/* position: absolute; */

}
.primerpaso{
text-align: center
}
.registrate{
	letter-spacing: 2px;
	margin: 0 3em 0.5em 3em;
	
}

.input{
	
	color: white;
	border: 1px solid white;
	font-size: 1.06em;
	padding: 0.325em 1em;
	margin-bottom: 0.8em; /* remove this while use*/
		display: inline-block;
		outline: none;
		*zoom: 1;
	
		text-decoration: none;
}

.border-white{

	color: white;
	border: 1px solid white;
	padding: 0.9625em 1.5em;
}

.center-elements{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button{
	border-radius: 2px;
	color: white;
	background: #1E499F;
	border: none;
	letter-spacing: 1.5px;
	font-weight: bold;
	font-size: 0.95em;
	padding: 0.8em 1em;
	
	margin-bottom: 0.8em; /* remove this while use*/
		display: inline-block;
		outline: none;
	
	
		text-decoration: none;
}
.terminos{
	font-size: 10px;
	text-align: center;
}
#formcontainer{
	margin: 7em 0 0 8em;
display: block;
text-align: center;


}
.form{
	margin: 0 3em 0 3em;
	padding: 1.5em 1.5em;
}
.img{
	width: 70%;
}
.video{
	margin: 1em 0 0 1.5em;
	width:420px;
	 height:255px ;
	
}
.margin-top3{
	margin-top: 3em;
}
.card-container{
	display: flex;
	flex-direction: row;
	background-color: white;
	color: black;
	justify-content: center ;
	justify-content: space-evenly;
	padding: 3em;
	border-color: white;
}
.card-footer{
	background-color: white;
	color: black;
	text-align: center;
	border-color: white;
}

.footer-container{
	background-color: #05070F;
	color: #A48850;
	display: flex;
	flex-direction: row;
	justify-content: center ;
	justify-content: space-evenly;
	padding: 3em 0 0 0;
	font-size: 17px
}
.white{
	color:white;
}

.btngrande{
	font-size: 20px;
	padding: 0.9em 2em;
}

hr {
  height: 2px;
	width: 19%;
	margin: 0 40%;
  background-color: black;
}


@media (max-width: 700px)  {
	.header-flex {
		display: flex;
		flex-direction: column;
	
	}

	.card-container{
		display: block;
		text-align: center;
		margin: 0 15em 0 0;
		padding: 0
	}
	.card{
		margin: 2em  0;
	}
	
}